* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    align-items: center;
    background-size: cover;
    background-image: url(https://images-ext-1.discordapp.net/external/zDmKoEDlxS-Yei1I6jNnnV3laGfXKOUXinVk_1H3JPs/%3Fquality%3D85%26strip%3Dall%26fit%3D8532%252C4799%26w%3D975%26h%3D548%26crop%3D1/https/media.nbcphiladelphia.com/2021/08/CrimeTape-3.jpg);
    color: white;
    text-align: justify;
}

.descricao {
    width: 70%;
    text-align: justify;
    font-size: 20px;
    margin: 25px 0;

}

p {
    text-shadow: rgb(60, 59, 59) 0.1em 0.1em 0.2em;
    margin-top: 7px;
    font-size: 25px;
}

img {
    border-radius: 150px;
    width: 200px;
    height: 200px;
    object-fit: cover;

}

.characters {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 85px;
}

.character {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 300px;
}