* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    align-items: center;
    background-size: cover;
    background-image: url(https://media.wired.co.uk/photos/606db6c4e46630a583ab3275/master/w_1600,c_limit/iStock_92896435_LARGE.jpg);
    color: white;
    text-align: justify;
}

h4 {
    width: 70%;
    text-align: justify;
    font-size: 20px;
    margin: 25px 0;
}

p {
    text-shadow: rgb(60, 59, 59) 0.1em 0.1em 0.2em;
    margin-top: 7px;
    font-size: 25px;
}

img {
    border-radius: 150px;
    width: 200px;
    height: 200px;
    object-fit: cover;

}

.characters {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 85px;
}

.character {
    display: flex;
    align-items: center;
    flex-direction: column;
}